@model ProjectEntityFramework.Models.EfTestModel.Student
<h1>Student</h1>
<form method="POST" asp-controller="Student" asp-action="Student">
StudentId:<input asp-for="sid"><br>
StudentName:<input asp-for="name"><br>
StudentAddress:<input asp-for="address"><br>
<input type="submit" value="Submit">  

</form>
